// Breakpoints for each query
$smartphone: 480px;
$tabletPortrait: 767px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;

:root {
  --color-primary: #151728;
  --line-separater: 1px solid #272a3a;
}
