@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700|Source+Sans+Pro:300,400,600,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
}

.heading-3 {
  font-family: "DM Sans", sans-serif;
  color: #5c5e6e;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 2rem;
}
